[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = cheavuthearith0@gmail.com
	name = chea-vuthearith
[safe]
	directory = *
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[rerere]
	enabled = true
