@keyframes flash-red-white {
  0% { color: #cdd6f4; }
  50% { color: #f38ba7; }
  100% { color: #cdd6f4; }
}

.module-icon.cmodule-screenRecordStatus {
  color: #f38ba7;
  animation: flash-red-white 2s ease-in-out infinite
}

.notification-card {
  margin-bottom: 0.5em;
}
