mouse_mode false
default_layout "compact"
show_startup_tips false
ui {
    pane_frames {
        rounded_corners true
    }
}
keybinds clear-defaults=true {
    locked {
        bind "Alt g" {
            SwitchToMode "normal"
        }
    }
    pane {
        bind "left" {
            MoveFocus "left"
        }
        bind "down" {
            MoveFocus "down"
        }
        bind "up" {
            MoveFocus "up"
        }
        bind "right" {
            MoveFocus "right"
        }
        bind "r" {
            SwitchToMode "renamepane"
            PaneNameInput 0
        }
        bind "-" {
            NewPane "down"
            SwitchToMode "normal"
        }
        bind "e" {
            TogglePaneEmbedOrFloating
            SwitchToMode "normal"
        }
        bind "F" {
            ToggleFocusFullscreen
            SwitchToMode "normal"
        }
        bind "h" {
            MoveFocus "left"
        }
        bind "p" {
            TogglePanePinned
            SwitchToMode "normal"
        }
        bind "j" {
            MoveFocus "down"
        }
        bind "k" {
            MoveFocus "up"
        }
        bind "l" {
            MoveFocus "right"
        }
        bind "w" {
            NewPane
            SwitchToMode "normal"
        }
        bind "|" {
            NewPane "right"
            SwitchToMode "normal"
        }
        bind "s" {
            NewPane "stacked"
            SwitchToMode "normal"
        }
        bind "f" {
            ToggleFloatingPanes
            SwitchToMode "normal"
        }
        bind "z" {
            TogglePaneFrames
            SwitchToMode "normal"
        }
    }
    tab {
        bind "left" {
            GoToPreviousTab
        }
        bind "down" {
            GoToNextTab
        }
        bind "up" {
            GoToPreviousTab
        }
        bind "right" {
            GoToNextTab
        }
        bind "1" {
            GoToTab 1
            SwitchToMode "normal"
        }
        bind "2" {
            GoToTab 2
            SwitchToMode "normal"
        }
        bind "3" {
            GoToTab 3
            SwitchToMode "normal"
        }
        bind "4" {
            GoToTab 4
            SwitchToMode "normal"
        }
        bind "5" {
            GoToTab 5
            SwitchToMode "normal"
        }
        bind "6" {
            GoToTab 6
            SwitchToMode "normal"
        }
        bind "7" {
            GoToTab 7
            SwitchToMode "normal"
        }
        bind "8" {
            GoToTab 8
            SwitchToMode "normal"
        }
        bind "9" {
            GoToTab 9
            SwitchToMode "normal"
        }
        bind "[" {
            BreakPaneLeft
            SwitchToMode "normal"
        }
        bind "]" {
            BreakPaneRight
            SwitchToMode "normal"
        }
        bind "b" {
            BreakPane
            SwitchToMode "normal"
        }
        bind "h" {
            GoToPreviousTab
        }
        bind "j" {
            GoToNextTab
        }
        bind "k" {
            GoToPreviousTab
        }
        bind "l" {
            GoToNextTab
        }
        bind "tab" {
            NewTab
            SwitchToMode "normal"
        }
        bind "r" {
            SwitchToMode "renametab"
            TabNameInput 0
        }
        bind "s" {
            ToggleActiveSyncTab
            SwitchToMode "normal"
        }
        bind "d" {
            CloseTab
            SwitchToMode "normal"
        }
    }
    resize {
        bind "left" {
            Resize "Increase left"
        }
        bind "down" {
            Resize "Increase down"
        }
        bind "up" {
            Resize "Increase up"
        }
        bind "right" {
            Resize "Increase right"
        }
        bind "+" {
            Resize "Increase"
        }
        bind "-" {
            Resize "Decrease"
        }
        bind "=" {
            Resize "Increase"
        }
        bind "H" {
            Resize "Decrease left"
        }
        bind "J" {
            Resize "Decrease down"
        }
        bind "K" {
            Resize "Decrease up"
        }
        bind "L" {
            Resize "Decrease right"
        }
        bind "h" {
            Resize "Increase left"
        }
        bind "j" {
            Resize "Increase down"
        }
        bind "k" {
            Resize "Increase up"
        }
        bind "l" {
            Resize "Increase right"
        }
    }
    move {
        bind "left" {
            MovePane "left"
        }
        bind "down" {
            MovePane "down"
        }
        bind "up" {
            MovePane "up"
        }
        bind "right" {
            MovePane "right"
        }
        bind "h" {
            MovePane "left"
        }
        bind "j" {
            MovePane "down"
        }
        bind "k" {
            MovePane "up"
        }
        bind "l" {
            MovePane "right"
        }
        bind "n" {
            MovePane
        }
        bind "p" {
            MovePaneBackwards
        }
    }
    scroll {
        bind "e" {
            EditScrollback
            SwitchToMode "normal"
        }
        bind "/" {
            SwitchToMode "entersearch"
            SearchInput 0
        }
    }
    search {
        bind "c" {
            SearchToggleOption "CaseSensitivity"
        }
        bind "n" {
            Search "down"
        }
        bind "o" {
            SearchToggleOption "WholeWord"
        }
        bind "N" {
            Search "up"
        }
        bind "w" {
            SearchToggleOption "Wrap"
        }
    }
    session {
        bind "a" {
            LaunchOrFocusPlugin "zellij:about" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "s" {
            LaunchOrFocusPlugin "zellij:share" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "m" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
    }
    normal {
        bind "Ctrl left" {
            MoveFocus "left"
        }
        bind "Ctrl down" {
            MoveFocus "down"
        }
        bind "Ctrl up" {
            MoveFocus "up"
        }
        bind "Ctrl right" {
            MoveFocus "right"
        }
        bind "Ctrl h" {
            MoveFocus "left"
        }
        bind "Ctrl j" {
            MoveFocus "down"
        }
        bind "Ctrl k" {
            MoveFocus "up"
        }
        bind "Ctrl l" {
            MoveFocus "right"
        }
    }
    shared_among "normal" "locked" {
        bind "Ctrl +" {
            Resize "Increase"
        }
        bind "Ctrl -" {
            Resize "Decrease"
        }
        bind "Ctrl =" {
            Resize "Increase"
        }
        bind "alt [" {
            PreviousSwapLayout
        }
        bind "alt ]" {
            NextSwapLayout
        }
        bind "Ctrl f" {
            ToggleFloatingPanes
        }
        bind "alt H" {
            MoveTab "left"
        }
        bind "alt L" {
            MoveTab "right"
        }
        bind "alt l" {
            GoToNextTab
        }
        bind "alt h" {
            GoToPreviousTab
        }
    }
    shared_except "locked" {
        bind "Alt Shift p" {
            ToggleGroupMarking
        }
    }
    shared_except "entersearch" "renametab" "renamepane" "move" "prompt" "tmux" {
        bind "Alt m" {
            SwitchToMode "move"
        }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Alt g" {
            SwitchToMode "locked"
        }
        bind "Alt q" {
            Quit
        }
    }
    shared_except "entersearch" "renametab" "renamepane" "session" "prompt" "tmux" {
        bind "Alt o" {
            SwitchToMode "session"
        }
    }
    shared_except "locked" "scroll" "search" "tmux" {
        bind "Ctrl b" {
            SwitchToMode "tmux"
        }
    }
    shared_except "scroll" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Alt s" {
            SwitchToMode "scroll"
        }
    }
    shared_except "tab" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Alt tab" {
            SwitchToMode "tab"
        }
    }
    shared_except "pane" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Alt w" {
            SwitchToMode "pane"
        }
    }
    shared_except "resize" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Alt r" {
            SwitchToMode "resize"
        }
    }
    shared_except "normal" "locked" {
        bind "Alt left" {
            MoveFocus "left"
        }
        bind "Alt down" {
            MoveFocus "down"
        }
        bind "Alt up" {
            MoveFocus "up"
        }
        bind "Alt right" {
            MoveFocus "right"
        }
        bind "Alt +" {
            Resize "Increase"
        }
        bind "Alt -" {
            Resize "Decrease"
        }
        bind "Alt =" {
            Resize "Increase"
        }
        bind "Alt [" {
            PreviousSwapLayout
        }
        bind "Alt ]" {
            NextSwapLayout
        }
        bind "Alt f" {
            ToggleFloatingPanes
        }
        bind "Alt i" {
            MoveTab "left"
        }
        bind "Alt j" {
            MoveFocus "down"
        }
        bind "Alt k" {
            MoveFocus "up"
        }
        bind "Alt l" {
            MoveFocus "right"
        }
    }
    shared_except "normal" "locked" "entersearch" {
        bind "enter" {
            SwitchToMode "normal"
        }
    }
    shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" {
            SwitchToMode "normal"
        }
    }
    shared_among "pane" "tmux" {
        bind "d" {
            CloseFocus
            SwitchToMode "normal"
        }
    }
    shared_among "scroll" "search" {
        bind "PageDown" {
            PageScrollDown
        }
        bind "PageUp" {
            PageScrollUp
        }
        bind "left" {
            PageScrollUp
        }
        bind "down" {
            ScrollDown
        }
        bind "up" {
            ScrollUp
        }
        bind "right" {
            PageScrollDown
        }
        bind "Ctrl b" {
            PageScrollUp
        }
        bind "Ctrl c" {
            ScrollToBottom
            SwitchToMode "normal"
        }
        bind "ctrl d" {
            HalfPageScrollDown
        }
        bind "Ctrl f" {
            PageScrollDown
        }
        bind "h" {
            PageScrollUp
        }
        bind "j" {
            ScrollDown
        }
        bind "k" {
            ScrollUp
        }
        bind "l" {
            PageScrollDown
        }
        bind "ctrl u" {
            HalfPageScrollUp
        }
    }
    entersearch {
        bind "Ctrl c" {
            SwitchToMode "scroll"
        }
        bind "esc" {
            SwitchToMode "scroll"
        }
        bind "enter" {
            SwitchToMode "search"
        }
    }
    shared_among "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Ctrl g" {
            SwitchToMode "locked"
        }
        bind "Ctrl h" {
            SwitchToMode "move"
        }
        bind "Alt h" {
            MoveFocus "left"
        }
        bind "Ctrl n" {
            SwitchToMode "resize"
        }
        bind "Alt n" {
            NewPane
        }
        bind "Ctrl o" {
            SwitchToMode "session"
        }
        bind "Alt o" {
            MoveTab "right"
        }
        bind "Ctrl p" {
            SwitchToMode "pane"
        }
        bind "Alt p" {
            TogglePaneInGroup
        }
        bind "Ctrl q" {
            Quit
        }
        bind "Ctrl s" {
            SwitchToMode "scroll"
        }
        bind "Ctrl t" {
            SwitchToMode "tab"
        }
    }
    renametab {
        bind "esc" {
            UndoRenameTab
            SwitchToMode "tab"
        }
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" {
            SwitchToMode "normal"
        }
    }
    renamepane {
        bind "esc" {
            UndoRenamePane
            SwitchToMode "pane"
        }
    }
    shared_among "session" "tmux" {
        bind "d" {
            Detach
        }
    }
    tmux {
        bind "left" {
            MoveFocus "left"
            SwitchToMode "normal"
        }
        bind "down" {
            MoveFocus "down"
            SwitchToMode "normal"
        }
        bind "up" {
            MoveFocus "up"
            SwitchToMode "normal"
        }
        bind "right" {
            MoveFocus "right"
            SwitchToMode "normal"
        }
        bind "space" {
            NextSwapLayout
        }
        bind "\"" {
            NewPane "down"
            SwitchToMode "normal"
        }
        bind "%" {
            NewPane "right"
            SwitchToMode "normal"
        }
        bind "," {
            SwitchToMode "renametab"
        }
        bind "[" {
            SwitchToMode "scroll"
        }
        bind "Ctrl b" {
            Write 2
            SwitchToMode "normal"
        }
        bind "c" {
            NewTab
            SwitchToMode "normal"
        }
        bind "h" {
            MoveFocus "left"
            SwitchToMode "normal"
        }
        bind "j" {
            MoveFocus "down"
            SwitchToMode "normal"
        }
        bind "k" {
            MoveFocus "up"
            SwitchToMode "normal"
        }
        bind "l" {
            MoveFocus "right"
            SwitchToMode "normal"
        }
        bind "n" {
            GoToNextTab
            SwitchToMode "normal"
        }
        bind "o" {
            FocusNextPane
        }
        bind "p" {
            GoToPreviousTab
            SwitchToMode "normal"
        }
        bind "z" {
            ToggleFocusFullscreen
            SwitchToMode "normal"
        }
    }
}
plugins {
    autolock location="https://github.com/fresh2dev/zellij-autolock/releases/latest/download/zellij-autolock.wasm" {
        triggers "nvim|vim|v|nv"
        watch_triggers "fzf|zoxide|atuin|atac"
        watch_interval "1.0"
    }
}
load_plugins {
    autolock
}

